.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
}

.app > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.errorMessage {
  color: red;
}

.activeFilter {
  background-color: aquamarine;
}